@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 20% 97.0588%;
    --foreground: 295.7143 38.8889% 21.1765%;
    --card: 300 20% 97.0588%;
    --card-foreground: 295.7143 38.8889% 21.1765%;
    --popover: 0 0% 100%;
    --popover-foreground: 295.7143 38.8889% 21.1765%;
    --primary: 333.2673 42.9787% 46.0784%;
    --primary-foreground: 0 0% 100%;
    --secondary: 313.5484 42.4658% 85.6863%;
    --secondary-foreground: 296.4 28.4091% 34.5098%;
    --muted: 310.9091 31.4286% 93.1373%;
    --muted-foreground: 294.8936 22.9268% 40.1961%;
    --accent: 313.5484 42.4658% 85.6863%;
    --accent-foreground: 296.4 28.4091% 34.5098%;
    --destructive: 358.3333 30.2521% 46.6667%;
    --destructive-foreground: 0 0% 100%;
    --border: 305.1429 43.2099% 84.1176%;
    --input: 316.1538 30.2326% 83.1373%;
    --ring: 333.3333 50% 50.5882%;
    --chart-1: 318.24 49.0196% 50%;
    --chart-2: 272.3077 57.6355% 39.8039%;
    --chart-3: 197.4194 25.2033% 24.1176%;
    --chart-4: 43.3333 51.7241% 65.8824%;
    --chart-5: 27.0588 60.7143% 67.0588%;
    --sidebar: 290 33.3333% 92.9412%;
    --sidebar-foreground: 327.4286 53.8462% 38.2353%;
    --sidebar-primary: 240 7.1895% 30%;
    --sidebar-primary-foreground: 317.1429 36.8421% 96.2745%;
    --sidebar-accent: 60 6.6667% 97.0588%;
    --sidebar-accent-foreground: 240 7.1895% 30%;
    --sidebar-border: 20 7.3171% 91.9608%;
    --sidebar-ring: 333.3333 50% 50.5882%;
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 270 14.7059% 13.3333%;
    --foreground: 272.3077 28.2609% 81.9608%;
    --card: 270 13.6364% 17.2549%;
    --card-foreground: 324.5455 23.4043% 81.5686%;
    --popover: 320 23.0769% 5.098%;
    --popover-foreground: 325.7143 33.3333% 95.8824%;
    --primary: 332.0245 100% 31.9608%;
    --primary-foreground: 329.3617 59.4937% 84.5098%;
    --secondary: 273.75 15.0943% 20.7843%;
    --secondary-foreground: 270 30.2326% 83.1373%;
    --muted: 272.7273 13.9241% 15.4902%;
    --muted-foreground: 268.8 20.6612% 76.2745%;
    --accent: 272.1429 20.2899% 27.0588%;
    --accent-foreground: 325.7143 33.3333% 95.8824%;
    --destructive: 350.625 50% 12.549%;
    --destructive-foreground: 0 0% 100%;
    --border: 326.6667 8.2569% 21.3725%;
    --input: 312 8.7719% 22.3529%;
    --ring: 333.3333 71.4286% 50.5882%;
    --chart-1: 333.2673 42.9787% 46.0784%;
    --chart-2: 273.3333 54.7826% 54.902%;
    --chart-3: 30 80% 54.902%;
    --chart-4: 280 64.7059% 60%;
    --chart-5: 339.7674 74.7826% 54.902%;
    --sidebar: 308.5714 17.0732% 8.0392%;
    --sidebar-foreground: 327.2727 26.1905% 83.5294%;
    --sidebar-primary: 224.2781 76.3265% 48.0392%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 318.4615 20.6349% 12.3529%;
    --sidebar-accent-foreground: 240 4.7619% 95.8824%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 333.3333 71.4286% 50.5882%;
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .boring-light {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 333.2673 42.9787% 46.0784%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 33.3333 60.9562% 50.7843%;
    --radius: 0.5rem;
    --sidebar: 0 0% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 240 5.9% 50%;
  }

  .boring-dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 332.0245 100% 32.9608%;
    --primary-foreground: 329.3617 59.4937% 84.5098%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 32.0245 100% 31.9608%;
    --radius: 0.5rem;
    --sidebar: 0 0% 11%;
    --sidebar-foreground: 240 5% 96.1%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 5% 96.1%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 3.7% 50.9%;
  }
}

@layer utilities {
  .txt-grad {
    @apply text-foreground no-underline;
  }

  .txt-mut {
    @apply text-muted-foreground no-underline;
  }

  .txt-act {
    @apply text-accent-foreground no-underline;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

.CustomScrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--accent)) hsl(var(--background));
  scroll-behavior: smooth;
}

.HiddenScrollbar {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

::selection {
  @apply bg-primary text-primary-foreground;
}

@theme inline {
  @keyframes shadanim {
    0% {
      background-position: 100% -100%;
    }
  }
}